@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');




* {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

header nav {
  background: #292F36;
  height: 170px;
  border-bottom: #FFF;
  padding: 0 128px;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 500;
  cursor: pointer;
}
.logo span {
  color: #12F7D6;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 32px;
}

nav ul li {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px; 
}

nav ul li:hover {
 
  color: #12F7D6;
  cursor: pointer;
}
/* body */
.hero {
  background: #292F36;
  height: 910px;
}

.hero .hero-content-container {
  
  height: 718px;
}

.title {
  color: #98FAEC;
  font-size: 117px;
  font-weight: 400;
  line-height: 134px;
  text-align: center;
  margin-bottom: 64px;
}
.content {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.left {
  width: 320px;
  height: 520px;
  border-top-left-radius: 180px;
  border-bottom-right-radius: 180px;
  border: 4px solid #FFF;
  box-shadow: -4px -4px 2px 0px #12F7D6;
  color: #FFF;
  display: flex;
  justify-content: center;
 
  
}
.left img {
  width: 96px;
  height: 96px;
  border-radius: 64px;
  border: 3px solid #12F7D6;
  margin: 0 auto;
}

.left .details p span {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  
}
.left .details p  {
  text-align: center;
}
.left .details {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.left .details ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  margin: 30px 0;
}
.left .details ul li{
  font-size: 14px;
  font-weight: 400;
}

.left .details ul li i{
  color:#12F7D6;
  margin-right: 10px;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.skills span {
    background: #12F7D6;
    width: 50px;
    height: 18px;
    border-radius: 8px;
    color: black;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-weight: 400;
}

.details .csv-btn {
  height: 46px;
  width: 200px;
  background: #FFF;
  color: #292F36;
  border-radius: 20px;
  text-align: center;
  align-content: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  cursor: pointer;
}
.details .csv-btn:hover {
  color: #FFF;
  background: #292F36;
  border: 1px solid #12F7D6;
}

.right {
  color: #FFFFFF;
}

.right .left-con p:nth-child(1) {
   font-size: 64px;
   font-weight: 400;
   line-height: 72px;
   margin-bottom: 20px;
}
.right .left-con p:nth-child(1) span, .right .left-con p:nth-child(2) span{
   font-size: 14px;
   font-weight: 400;
   line-height: 18px;
   color: #98FAEC;
}

.name{
  color: #98FAEC !important;
  font-size: 64px !important;
   font-weight: 400 !important;
   line-height: 72px !important;
}

.right .left-con p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}

.right .left-con span {
    font-size: 32px;
    line-height: 42px;
    font-weight: 500;
    color: #12F7D6;
    
}

/* responsive  */
@media (min-width: 320px) and (max-width: 1024px) {
 
  .content {
    flex-direction: column;
    align-items: center;
  }

  .hero {
    max-width: 1024px;
    background: #292F36;
    height: 1400px;
  }
}