@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');




* {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
  
}
.firstPage {
  max-width: auto;
}
header {
  position: relative;
}
.responsive-nav {
  position: absolute;
  top: 10px;
  left: 20px;
  display: none;
  background-color: rgba(26, 30, 35, 0.5);
  border-radius: 20px;
}
.responsive-nav i{
  
  font-size: 30px;
  color: #FFF;
  cursor: pointer;
}
.hide {
  display: none;
}
.r-nav-content ul,a {
  list-style: none;
  color: #FFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header nav {
  background: #292F36;
  height: 100px;
  border-bottom: #FFF;
  padding: 0 128px;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  font-size: 32px;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
}
.logo span {
  color: #12F7D6;
}
nav a {
  text-decoration: none;
  color: #FFF;
  font-weight: 400;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 32px;
}

nav ul li {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px; 
}

nav ul li a:hover {
  color: #12F7D6;
  cursor: pointer;
}

/* body */
.hero {
  background: #292F36;
  min-height: 910px;
  height: auto;
  padding: 0 20px;
}


.hero .hero-content-container {
  min-height: 718px;
  height: auto;
}

.title {
  color: #98FAEC;
  font-size: 117px;
  font-weight: 400;
  line-height: 134px;
  text-align: center;
  margin-bottom: 64px;
}
.content {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.left {
  width: 320px;
  height: 520px;
  border-top-left-radius: 180px;
  border-bottom-right-radius: 180px;
  border: 4px solid #FFF;
  box-shadow: -4px -4px 2px 0px #12F7D6;
  color: #FFF;
  display: flex;
  justify-content: center;
 
  
}
.left img {
  width: 96px;
  height: 96px;
  border-radius: 64px;
  border: 3px solid #12F7D6;
  margin: 0 auto;
  object-fit: contain;
}

.left .details p span {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  
}
.left .details p  {
  text-align: center;
}
.left .details {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.left .details ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  margin: 30px 0;
}
.left .details ul li{
  font-size: 14px;
  font-weight: 400;
}

.left .details ul li i{
  color:#12F7D6;
  margin-right: 10px;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.skills span {
    background: #12F7D6;
    width: 50px;
    height: 18px;
    border-radius: 8px;
    color: black;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-weight: 400;
}

.details .csv-btn {
  height: 46px;
  width: 200px;
  background: #FFF;
  color: #292F36;
  border-radius: 20px;
  text-align: center;
  align-content: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  cursor: pointer;
}
.details .csv-btn:hover {
  color: #FFF;
  background: #292F36;
  border: 1px solid #12F7D6;
}

.right {
  color: #FFFFFF;
}

.right .left-con p:nth-child(1) {
   font-size: 64px;
   font-weight: 400;
   line-height: 72px;
   margin-bottom: 20px;
}
.right .left-con p:nth-child(1) span, .right .left-con p:nth-child(2) span{
   font-size: 14px;
   font-weight: 400;
   line-height: 18px;
   color: #98FAEC;
}

.name{
  color: #98FAEC !important;
  font-size: 64px !important;
   font-weight: 400 !important;
   line-height: 72px !important;
}

.right .left-con p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}

.right .left-con span {
    font-size: 32px;
    line-height: 42px;
    font-weight: 500;
    color: #12F7D6;
    
}



/* about me */
.aboutMe-container {
  height: 1080px;
  background: #1A1E23;
  z-index: -99;
  animation: fadeIn 0.5s ease-in-out forwards;
  overflow: hidden;
  padding: 0 20px;
}

.aboutMe {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-content: center;
  height: 100%;
  
  overflow: hidden; /* Prevents pseudo-element overflow */
}
.aboutMe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 30, 35, 1); /* 10% opacity */
  background-image: url('/public/img/aboutMeBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
   /* Ensures it's behind the content */
  pointer-events: none; /* Allows interaction with the content */
}
.aleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  z-index: 99;
}
.about-title {
  width: 367px;
  height: 104px;
  border-top-left-radius:40px ;
  border-bottom-right-radius: 40px;
  border: 4px solid #12F7D6;
  background: #292F36;
  color: #FFF;
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
  align-content: center;
}

.about-content {
  background: #292F36;
  width: auto;
  height: auto;
  
  border-radius: 40px;
  padding: 24px 40px;
  color: #FFF;
}

.about-content h1 {
  font-size: 32px;
  font-weight: 500;
  color: #12F7D6;
  line-height: 42px;
}

.about-content span {
  color: #12F7D6;
}
.aright {
  z-index: 99;
  align-content: center;
}

.aright img{
  width: 372px;
  max-height: 520px;
  border-radius: 16px;
  align-content: center;
  z-index: 99;
}

.fa-solid.fa-angles-down.dropdown {
  position: absolute;
  font-size: 80px;
  color: #12F7D6;
  top: 50px;
  cursor: pointer;
}

/* Skills */
.skills_sec {
  position: relative;
  height: auto;
  min-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/public/img/skillsBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(26, 30, 35, 0.9);
  background-blend-mode: overlay;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  
}

.skills-ttl h1 {
  color:#12F7D6;
  text-align: center;
  font-size: 64px;
  line-height: 72px;
  font-weight: 400;
  text-decoration: underline;
  margin-bottom: 28px;
  text-underline-offset: 20px;
}

.skills-ttl span{
  font-size: 16px;
  color: #FFF;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
  
}

.skills-side {
  display: flex;
  gap: 150px;
  margin-top: 64px;
  flex-wrap: wrap;
} 
.skills-side .left-skill, .skills-side .right-skill {
  width: 228px;
  height: 132px;
  background: #98FAEC;
  padding: 16px 24px;
  border-radius: 8px;
  border-left: 10px solid #0C73B8;
  text-align: center;
  align-content: center;
  font-size: 16px;
  font-weight: 400;
}

.skills-side .left-skill i, .skills-side .right-skill i {
  font-size: 30px;
}
.skills-side .left-skill span, .skills-side .right-skill span {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 8px;
}

.type-skill {
  margin-top: 60px;
}
.type-skill ul {
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
  flex-basis: 50%
}
.type-skill ul li{
  height: 120px;
  width: 120px;
  border-radius: 115px;
  padding: 20px;
  color: white;
  list-style: none;
  text-align: center;
  align-content: center;
  cursor: pointer;
 
}
.type-skill ul li:first-child{
  background: #E54F26;
}

.type-skill ul li:nth-child(2){
  background: #0C73B8;
}
.type-skill ul li:nth-child(3){
  background: #E7A020;
}
.type-skill ul li:nth-child(4){
  background: #28A9E0;
}
.type-skill ul li i{
  font-size: 70px;
}
/* works */
.works-ttl h1 {
  color:#12F7D6;
  text-align: center;
  font-size: 64px;
  line-height: 72px;
  font-weight: 400;
  text-decoration: underline;
  margin-bottom: 28px;
  text-underline-offset: 20px;
}

.works-ttl span{
  font-size: 16px;
  color: #FFF;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
  
}
.works_sec {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/public/img/worksBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(26, 30, 35, 1);
  background-blend-mode: overlay;
  align-items: center;
  text-align: center;
  height: 1080px;
}
.works-show {
  margin-top: 50px;
  max-height: 700px;
  max-width: 600px;

}
.works-show .work {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width:800px;
}
.work img {
  height: 400px;
  width: 250px;
  object-fit: cover;
  border-radius: 20px;
  margin: 20px auto;

}

.showcase {
  display: flex;
  gap: 20px;
  justify-content: center;
  
}

.showcase span {
  border: 1px solid #12F7D6;
  color: #FFF;
  padding: 20px;
  border-radius: 20px;
  width: 100px;
  font-weight: 400;
  cursor: pointer;
}

.showcase span:hover {
  background-color: #FFF;
  color: #1A1E23;
}


/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards; /* Adjust duration and timing as needed */
}

/* slide in left */
/* styles.css */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%); /* Start off-screen to the left */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* End at original position */
  }
}

.slide-in-left {
  animation: slideInLeft 1s ease-in-out forwards; /* Adjust duration and timing as needed */
}

/* styles.css */
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%); /* Start off-screen to the right */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* End at original position */
  }
}

.slide-in-right {
  animation: slideInRight 1s ease-in-out forwards; /* Adjust duration and timing as needed */
}

/* floating animation */
/* styles.css */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Move up */
  }
  100% {
    transform: translateY(0); /* Move back down */
  }
}

.float {
  animation: float 2s ease-in-out infinite; /* Adjust duration as needed */
}

.float1 {
  animation: float 2.5s ease-in-out infinite; /* Adjust duration as needed */
}

/* styles.css */
@keyframes slideInAndFloat {
  0% {
    opacity: 0;
    transform: translateY(-50px); /* Start off-screen above */
  }
  50% {
    opacity: 1;
    transform: translateY(-10px); /* Move down slightly */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at original position */
  }
}

.float3 {
  animation: slideInAndFloat 1s ease-in-out forwards; /* Adjust duration as needed */
}


/* responsive  */
/* CP and small screens */
@media (max-width: 768px) {
  .skills-side {
    gap: 50px;
    margin-top: 64px;
    justify-content: center;
  } 
  .skills_sec {
    height: 2500px;
  }



  .aboutMe {
    flex-wrap: wrap;
  
  }

  .aboutMe-container {
    height: 1800px;
  }

  .about-content {
    width: auto;
    height: auto;
    
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
  .hero {
    background: #292F36;
    height: 1700px;
  }
  .title {
    
    font-size: 60px;

    
  }
  header nav {
    
    display: none;
  }

  .responsive-nav {
    display: block;
  }

    }

/* @media (min-width: 481px) and (max-width: 768px) {
 
  .content {
    flex-direction: column;
    align-items: center;
  }

  .hero {
    max-width: 1024px;
    background: #292F36;
    height: 1400px;
  }

  
} */